html, body {
  font-size: 20px;
  font-family: "Lato", sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0px 15px;
  margin: 0 auto;
}

.button {
}

.logo {
}

/* -------------------- */

.header {
}

.header__top {
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
}

.header__nav {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child{
  margin-right: 0px;
}

.header__logo {
  margin-right: 60px;
}