html, body {
  font-family: "Lato", sans-serif;
  color: #424551;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0px 15px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  letter-spacing: 0.5px;
  line-height: 52px;
  font-weight: 700px;
  padding: 0 40px;
  color: #fff;
  border-radius: 4px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  white-space: nowrap;
}

.button:hover {
  transform: scale(1.1);
}

.button--empty {
  background-image: none;
  border-left: 2px solid #FF3F3A;
  border-right: 2px solid #F75E05;
  background-image: -webkit-linear-gradient(left, #FF3F3A, #F75E05), -webkit-linear-gradient(left, #FF3F3A, #F75E05);
  background-image: linear-gradient(left, #FF3F3A, #F75E05), linear-gradient(left, #FF3F3A, #F75E05);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.button--empty span {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* --------------------------------------- */

.header {
  font-weight: 700px;
}

.header__top {
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0
}

.header__logo {
}

.header__nav {
  margin-right: auto;
}

.header__user-btn {
  white-space: nowrap;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
  transition: all .3s;
}

.header__nav-link {
  font-weight: 700;
  line-height: 1.6;
}

.header__nav-link:hover { 
  color: #FF3F3A;
}

.header__btn-box {
  display: flex;
  align-items: center;
}

.header__nav-item:last-child{
  margin-right: 0px;
}

.header__user-nav {
  display: flex;
  position: relative;
  padding-left: 28px;
  font-weight: 700;
  transition: all .3s;
}

.header__user-nav::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0px;
  background: url("../images/icons/user-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
  display: block;
}

.header__user-nav:hover { 
  color: #FF3F3A;
}

.header__logo {
  margin-right: 60px;
}

.header__top-button {
  margin-right: 36px;
}